# Desafio 7

## Descrubrindo quem fez o ENEM 2016 só para treino

* Importando as bibliotecas necessárias

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

* Separando o DataFrame em teste e treino

In [61]:
df_train = pd.read_csv('C:\\Users\\Impieri\\codenation\\enem-4\\train.csv', sep=",", encoding="UTF8" )
df_test = pd.read_csv('C:\\Users\\Impieri\\codenation\\enem-4\\\\test.csv', sep=",", encoding="UTF8" )
df_resposta = pd.DataFrame()
df_train.shape, df_test.shape

((13730, 167), (4570, 43))

* DataFrame

In [62]:
df_train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

* Verificando se os dataframes de test e treino tem as mesmas colunas

In [63]:
print(set(df_test.columns).issubset(set(df_train.columns)))

True

* Verificando a correlação entre as variáveis e a distribuição

In [64]:
df_train.corr()['IN_TREINEIRO'].sort_values(ascending=False).head(15)

IN_TREINEIRO         1.000000
TP_ST_CONCLUSAO      0.533983
TP_PRESENCA_CN       0.094692
TP_PRESENCA_CH       0.094692
TP_PRESENCA_LC       0.092454
TP_PRESENCA_MT       0.092454
Q034                 0.055265
Q039                 0.040348
Q005                 0.033411
Q038                 0.018855
TP_COR_RACA          0.009676
Unnamed: 0           0.006717
TP_STATUS_REDACAO    0.006688
Q040                 0.005270
IN_SABATISTA         0.003824
Name: IN_TREINEIRO, dtype: float64

In [65]:
df_train['IN_TREINEIRO'].value_counts()

0    11947
1     1783
Name: IN_TREINEIRO, dtype: int64

* Savando as Features que serão utilizando, uzando a feature NU_Idade como teste para analisar resultados com essa informação

In [66]:
X, y = (df_train[['NU_IDADE', 'TP_ST_CONCLUSAO']], df_train['IN_TREINEIRO'])

* Separando a base de treino e teste
* Treinando o RandomForest
* Validadando o modelo prevendo o 'IN_TREINEIRO'
* Calculando o Score

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=777)

rf_clf = RandomForestClassifier(random_state=777,  n_estimators=300)
rf_clf.fit(X_train, y_train)

y_pred = rf_clf.predict(X_test)
    
print(f'F1 score:{f1_score(y_test, y_pred)}')

F1 score:0.9886858137510879

* Agora utilizadno o dataframe de teste para fazer a previsão

In [68]:
y_pred = rf_clf.predict(df_test[['NU_IDADE', 'TP_ST_CONCLUSAO']])

* Salvando o modelo em um .CSV

In [69]:
answer = df_test[['NU_INSCRICAO']]
answer['IN_TREINEIRO']=y_pred
answer.to_csv('answer.csv', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy